body {
	background-color: tomato;
}

.text-container {
	text-align: center;
}

#text-area {
	margin-top: 40px;
	margin-bottom: 10px;
}

#card-container {
	text-align: center;
}

.card {
	margin: 10px;
	border: 2px solid black;
	width: 300px;
	height: 300px;
	display: inline-block;
	position: relative;
}

.createdCard {
	padding: 30px;
}

.delete-btn {
	position: absolute;
	right: 120px;
	bottom: 20px;
}